[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
mypy = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
flake8 = "*"
coverage = "*"
black = "==19.3b0"
isort = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pytest-django = "*"
Werkzeug = "==2.0.1"
Sphinx = "*"
factory_boy = "*"
django_coverage_plugin = "*"
fabric3 = "*"
model_mommy = "*"

[packages]
pytz = "*"
python-slugify = "*"
argon2-cffi = "*"
redis = "*"
django-environ = "*"
django-model-utils = "*"
django-redis = "*"
django-localflavor = "*"
django-simple-history = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-multiselectfield = "*"
coreapi = "*"
rollbar = "*"
psycopg2 = "*"
gunicorn = "*"
Pillow = "*"
Django = "==3.2.13"
django-storages = "*"
google-cloud-storage = "*"
pytest-cov = "*"
django-sendgrid-v5 = "*"
freezegun = "*"
ptvsd = "*"
django-rest-passwordreset = "*"
raven = "*"
xlwt = "*"
django-db-connection-pool = "*"
boto3 = "==1.22.13"
xlrd = "*"
django-rest-swagger = "*"
numpy = "==1.20.0"

[requires]
python_version = "3.9"
