.ItemC {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0px 20px;
  border-bottom: 2px dotted black;
  align-items: center;
}

.ItemNameC,
.ItemClosureC,
.ItemDeadlineC {
  margin-bottom: 10px;
}

.ButtonContainerC {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.ButtonContainerC > button {
  margin-left: 5px;
  border: none;
  padding: 5px 10px;
  background-color: white;
  font-size: 11px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
