.Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0px 20px;
  border-bottom: 2px dotted black;
}
.Butonn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 30px;
}
.Butonn > button {
  margin-left: 5px;
  border: none;
  width: 90px;
  height: 20px;
  background-color: white;
  font-size: 15px;
  border-radius: 55px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.red {
  color: red;
  font-weight: bold;
}

.green {
  color: rgb(48, 187, 48);
  font-weight: bold;
}
.orange {
  color: orange;
  font-weight: bold;
}
