.Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0px 20px;
  border-bottom: 2px dotted black;
}

.ItemName {
  /* Add margin or padding as needed */
  margin-right: 10px;
}

.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 30px;
}

.ButtonContainer > button {
  margin-left: 5px;
  border: none;
  padding: 5px 10px;
  background-color: white;
  font-size: 15px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
