.HeaderCard {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: blue;
    color: #fff;
    padding: 2px;
  }
  .Card {
    background-color: rgb(225, 24, 24);
    width: 100%;
    min-height: 80px;
    /* max-height: 360px; */
    height: auto;
    border-radius: 8px;
    position: relative;
    margin: 40px 0px;
    padding-bottom: 15px;
    /* overflow-y: auto */
  }