.Card {
  background-color: #226feb;
  margin-bottom: 40px;
  padding: 40px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #ffff;
  border-radius: 8px;
}

.HeaderCard {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #000;
  padding: 2px;
}

.Buttonn {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 30px;
  margin-right: 30px;
}

.Buttonn > button {
  border: none;
  width: 50px;
  height: 20px;
  background-color: #6959cd;
  font-size: 15px;
  border-radius: 55px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
